<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>付款帮助</title>
    </head>

    <body style="font-size:12px; color:#666">
    	<span style="font-size:14px; font-weight:bold; color:#000">付款遇到问题：</span>
        <p style="font-weight:bold">
        1.没有网上银行，怎样用储蓄卡付款
        <div style="margin-top:-8px;">答：您可使用储蓄卡快捷支付轻松完成付款。目前暂时支持工行、农行、交行，其他银行储蓄卡快捷支付即将推出。</div>
        </p>
        <p style="font-weight:bold">
        2.为什么银行卡已经扣款，但支付宝中没有显示？
        <div style="margin-top:-8px;">答：有可能因为网络原因导致，将在第二个工作日恢复。</div>
        </p>
    </body>
    
</html>
