/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

*{
	fontFamily: Arial, "_sans";
	advancedAntiAliasing:true;
}

mx|DateField{
	borderColor:#C0C0C0; 
}

s|Scroller{
	skinClass : ClassReference("assets.skin.Scroller_skin");
}

s|CheckBox{
	skinClass : ClassReference("assets.skin.ChooseButtonCheckSkin");
}

/*

@font-face {
	src: url("assets/font/STXIHEI.TTF");
	fontFamily: "MyFontFamily";
	embedAsCFF: false;
	advancedAntiAliasing:true;
}*/

/*
@font-face {
	src: local("Arial");
	advancedAntiAliasing:true;
}
*/