/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace easy "library://flexeasy";


s|WindowedApplication{
	fontFamily: 宋体,Arial, "_sans";
}
/*
*{
	fontFamily: Arial,微软雅黑, "_sans";
	advancedAntiAliasing:true;
}*/

/*
@font-face {
	src: local("微软雅黑");
	fontFamily: YH;
	embedAsCFF: true;
	advancedAntiAliasing: true; 
}*/

.tag{
	fontFamily: 微软雅黑,黑体,Arial, '_sans';
	fontSize:13;
	color:#444444;
}

mx|ToolTip {
	fontSize: 13;
	borderSkin: Embed(source="/assets/skin/ToolTip_borderSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="78", scaleGridBottom="18");
	color: #ffffff;
}

mx|DateField{
	borderColor:#C0C0C0; 
}

s|Scroller{
	skinClass : ClassReference("assets.skin.Scroller_skin");
	upArrowSkin: ClassReference(null); 
	downArrowSkin: ClassReference(null);
}

s|CheckBox{
	skinClass : ClassReference("assets.skin.CheckBoxSkin");
}

mx|Button
{
	
	disabledSkin: Embed(source="/assets/skin/Button_disabledSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	downSkin: Embed(source="/assets/skin/Button_downSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	overSkin: Embed(source="/assets/skin/Button_overSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	upSkin: Embed(source="/assets/skin/Button_upSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18"); 
	color: #FFFFFF;
	/*textRollOverColor: #13ACFF;
	textSelectedColor: #13ACFF;*/
	selectedUpSkin: Embed(source="/assets/skin/Button_overSkin.png", scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	selectedOverSkin: Embed(source="/assets/skin/Button_overSkin.png", scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	selectedDisabledSkin: Embed(source="/assets/skin/Button_disabledSkin.png", scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	selectedDownSkin: Embed(source="/assets/skin/Button_upSkin.png", scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	/*disabledColor: #222626;*/
	fontSize:13;
	
}

mx|Panel
{
	borderSkin: Embed(source="/assets/skin/Panel_borderSkin.png",
		scaleGridLeft="5", scaleGridTop="40", scaleGridRight="265", scaleGridBottom="160");
	borderThicknessLeft: 15;
	borderThicknessRight: 15;
	borderThicknessTop: 30;
	borderThicknessBottom: 15;
	headerHeight: 30;
	padding-top:30;
	padding-left:10;
	padding-right:10;
	padding-bottom:10;
	text-align:center;
	color: #000000;
	titleStyleName: panelTitle;
	fontWeight: normal;
	fontSize: 10;
}

/*

@font-face {
	src: url("assets/font/STXIHEI.TTF");
	fontFamily: "MyFontFamily";
	embedAsCFF: false;
	advancedAntiAliasing:true;
}*/

/*
@font-face {
	src: local("Arial");
	advancedAntiAliasing:true;
}
*/