/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

	.tbar
	{
		paddingLeft: 3;
		paddingRight: 0;
		fontFamily: "宋体";
		height: 18;
		rollOverColor:#C2D6EF;
	}

	mx|DataGrid {
		horizontalGridLines: false;
		horizontalGridLineColor: #000000;
		verticalGridLines: false;
		useRollOver: true;
		borderColor: #B5B8C8;
	}

	s|TextInput
	{
		borderColor:#B5B8C8;
	}

