@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace easy "library://flexeasy";

/*fontFamily:"Microsoft YaHei,Segoe UI,Helvetica,Arial,sans-serif,simsun";*/

mx|Label{
	color:#7c7c7c;
	fontFamily:"华文细黑,Microsoft YaHei,Segoe UI,Helvetica,Arial,sans-serif,simsun";
}

s|Label{
	color:#7c7c7c;
	fontFamily:"华文细黑,Microsoft YaHei,Segoe UI,Helvetica,Arial,sans-serif,simsun";
}

s|RichText{
	color:#919191;
	fontFamily:"华文细黑,Microsoft YaHei,Segoe UI,Helvetica,Arial,sans-serif,simsun";
}

.htsml{
	color:#000000;
	fontFamily:"Arial";
	fontSize:12;
}


easy|DataGrid{
	headerColor:#2B2B2B;/*标题头颜色*/
	borderVisible:false;/*是否显示边框,默认为true*/
	alternatingItemColors: #464646, #464646;
	rollOverColor: #B2E1FF;/**鼠标移过颜色*/
	selectionColor: #99cc66;/**行选中颜色*/
	verticalGridLines:false;/**显示垂直线，默认为true*/
	horizontalGridLines:true;/**默认,false，*/
	gridLinesColor:#999999;			
	textAlign:"left";/**文本对齐方式，默认为center*/
	labelStyle:labelCss
}

.labelCss{
	color:#000000;
	fontSize:12;
	fontFamily:"Arial,华文细黑,Microsoft YaHei,Segoe UI,Helvetica,Arial,sans-serif,simsun";
}
/*
@font-face
{
	fontFamily: "华文细黑";
	src: url("C:\Windows\Fonts\STXIHEI.TTF");
	embedAsCFF: true;
}
*/

