/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace tools "library://flex.tools";

s|Application{
	fontSize:12;
	fontFamily:"宋体";
} 
 
.input{borderColor:#ABADB3;}

/**com.hongguan.view.survey.subpage.QueryBar.mxml*/
.queryBar_back{
	backgroundColor:#CCCCCC;
	borderVisible:false;
}
/***/

/**com.hongguan.view.survey.subpage.RegionalTree.mxml*/
.bor{
	backgroundAlpha:.5;
	borderColor:#D2D2D2;
	backgroundColor:#E8E8E8;
}

.bor_tree{
	contentBackgroundAlpha:0;
	borderVisible:false;
}
/***/

/**com.hongguan.view.survey.subpage.Config.mxml*/
.br_config{
	borderColor:#D2D2D2;
}
/***/

/***/
.maps_dg{
	borderVisible:false;
	horizontalGridLines: true;
	horizontalGridLineColor: #BCBCBC;
}
/***/

/**com.hongguan.view.login.LoginModule.mxml*/
.nav_btn
{
	disabledSkin: Embed(source="/assets/images/u15.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	downSkin: Embed(source="/assets/images/u15.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	overSkin: Embed(source="/assets/images/ru15.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	upSkin: Embed(source="/assets/images/u15.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18"); 
	color: #000000;
	textRollOverColor: #000000;
	textSelectedColor: #FFFFFF;
	paddingTop:-5;
	fontFamily:"宋体";
}

.nav_btn_curr
{
	disabledSkin: Embed(source="/assets/images/u19.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	downSkin: Embed(source="/assets/images/u15.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	overSkin: Embed(source="/assets/images/u19.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18");
	upSkin: Embed(source="/assets/images/u19.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="60", scaleGridBottom="18"); 
	color: #FFFFFF;
	textRollOverColor: #000000;
	textSelectedColor: #FFFFFF;
	paddingTop:-5;
	fontFamily:"宋体";
}
/***/

.dataGrid{
	headerBackgroundSkin:ClassReference("com.biiway.skin.DGHeaderBackgroundSkin");
	verticalGridLineColor: #CDCDCD;
	horizontalGridLines: true;
	horizontalGridLineColor: #CDCDCD;
	borderVisible:false;
	textAlign:center;
	borderColor: #CDCDCD;
	borderVisible: false;
	alternatingItemColors: #ffffff, #ffffff;
	
}

/********************/

mx|TextInput{
	borderColor:#ABADB3;
}

mx|ComboBox, s|ComboBox{
	cornerRadius:0;
	borderColor:#ABADB3;
}

mx|ToolTip {
	fontSize: 12;
}


/*
//------------------------------
//  AccordionHeader
//------------------------------
*/

mx|Accordion{
	headerHeight: 28;
}

mx|AccordionHeader{	
	disabledSkin: Embed(source="/assets/images/AccordionHeader_disabledSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	downSkin: Embed(source="/assets/images/AccordionHeader_downSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	overSkin: Embed(source="/assets/images/AccordionHeader_overSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	
	selectedDisabledSkin: Embed(source="/assets/images/AccordionHeader_selectedSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	selectedDownSkin: Embed(source="/assets/images/AccordionHeader_selectedSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	selectedOverSkin: Embed(source="/assets/images/AccordionHeader_selectedSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	selectedUpSkin: Embed(source="/assets/images/AccordionHeader_selectedSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	
	upSkin: Embed(source="/assets/images/AccordionHeader_upSkin.png",
		scaleGridLeft="5", scaleGridTop="1", scaleGridRight="147", scaleGridBottom="21");
	textRollOverColor: #13ACFF;
	textSelectedColor: #13ACFF;
	color: #000000;
}


/*
//------------------------------
//  Tab
//------------------------------
*/

mx|TabNavigator
{
	tabHeight: 25;
	tabWidth: 70;
	horizontalGap: 6;
	background-alpha:0;
	horizontal-align:left;
	border-color:#5B5656;
	color: #000000;
	selectedTabTextStyleName: tabNavigatorSelectedTabText;
	/* focusSkin: Embed(source="/images/textBoxFocus.png",
	scaleGridLeft="5", scaleGridTop="5", scaleGridRight="10", scaleGridBottom="10"); */
}


mx|TabBar
{
	
	firstButtonStyleName: "tabStyle";
	tabStyleName: "tabStyle";
	lastButtonStyleName: "tabStyle";
	color: #4C5F6C;
	selectedTabTextStyleName: tabBarSelectedTabText;
	
	/* focusSkin: Embed(source="/images/textBoxFocus.png",
	scaleGridLeft="5", scaleGridTop="5", scaleGridRight="10", scaleGridBottom="10"); */
}

.tabStyle {
	disabledSkin: Embed(source="/assets/images/Tab_disabledSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	downSkin: Embed(source="/assets/images/Tab_downSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	overSkin: Embed(source="/assets/images/Tab_overSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	selectedDisabledSkin: Embed(source="/assets/images/TabSelected_disabledSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	selectedDownSkin: Embed(source="/assets/images/TabSelected_upSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	selectedOverSkin: Embed(source="/assets/images/TabSelected_upSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	selectedUpSkin: Embed(source="/assets/images/TabSelected_upSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	upSkin: Embed(source="/assets/images/Tab_upSkin.png",
		scaleGridLeft="4", scaleGridTop="4", scaleGridRight="49", scaleGridBottom="20");
	
	tabHeight:45;
	
	/* focusSkin: Embed(source="/assets/images/textBoxFocus.png",
	scaleGridLeft="5", scaleGridTop="5", scaleGridRight="10", scaleGridBottom="10"); */
	
}

.tabBarSelectedTabText
{
	color: #4C5F6C;
}

.tabNavigatorSelectedTabText
{
	color: #13ACFF;
}
